<% provide(:head_title, 'Instituições de Ensino') %>
<% provide(:page_title, 'Instituições de Ensino') %>
<% provide(:title, 'Instituições de Ensino') %>

<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title"></h3>
      <div class="col-lg-8">
        <div class="form-group">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Procurar..." aria-label="Procurar..." aria-describedby="search">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="search"><i class="fe fe-search"></i></button>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-4">

        <%= link_to "Cadastrar", new_admins_institution_path, class: "btn btn-outline-success mb-3"  %>

      </div>
    </div>
    <div class="table-responsive">
      <table class="table card-table table-striped table-vcenter">
        <thead>
        <tr>
          <th>Nome</th>
          <th>Sigla</th>
          <th>Cidade</th>
          <th>Estado</th>
          <th colspan="3"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Universidade Tecnologica Federal do Paraná</td>
          <td>UTFPR</td>
          <td class="text-nowrap">Guarapuava</td>
          <td class="text-nowrap">PR</td>
          <td class="w-1"><a href="#" class="icon"><i class="fe fe-edit"></i></a></td>

          <td class="w-1"><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
        </tr>
        <tr>
          <td>Universidade Tecnologica Federal do Paraná</td>
          <td>UTFPR</td>
          <td class="text-nowrap">Guarapuava</td>
          <td class="text-nowrap">PR</td>
          <td class="w-1"><a href="#" class="icon"><i class="fe fe-edit"></i></a></td>

          <td class="w-1"><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
        </tr>
        <tr>
          <td>Universidade Tecnologica Federal do Paraná</td>
          <td>UTFPR</td>
          <td class="text-nowrap">Guarapuava</td>
          <td class="text-nowrap">PR</td>
          <td class="w-1"><a href="#" class="icon"><i class="fe fe-edit"></i></a></td>

          <td class="w-1"><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
        </tr>
        <tr>
          <td>Universidade Tecnologica Federal do Paraná</td>
          <td>UTFPR</td>
          <td class="text-nowrap">Guarapuava</td>
          <td class="text-nowrap">PR</td>
          <td class="w-1"><a href="#" class="icon"><i class="fe fe-edit"></i></a></td>

          <td class="w-1"><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
        </tr>
        <tr>
          <td>Universidade Tecnologica Federal do Paraná</td>
          <td>UTFPR</td>
          <td class="text-nowrap">Guarapuava</td>
          <td class="text-nowrap">PR</td>
          <td class="w-1"><a href="#" class="icon"><i class="fe fe-edit"></i></a></td>

          <td class="w-1"><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>