<%= simple_form_for(@contact, url: contact_unregister_path(@contact, @contact.unregister_token)) do | f | %>

  <h4><%= I18n.t('contacts.confirm_unregistered') %></h4>
  <div class="d-flex">
    <%= f.button :submit, class: 'btn-primary ml-auto' %>
  </div>

<% end %>