database: &database
  db.username: postgres
  db.password: postgres
  db.host: localhost

mailer: &mailer
  mailer.host: localhost
  mailer.port: '3000'

development:
  <<: *database
  <<: *mailer

test:
  <<: *database
  <<: *mailer
  browser.headless: 'true'

production:
  <<: *database
  <<: *mailer
