<h1>Seja Bem-vindo(a) ao WAlgProg, <%= @contact.name %></h1>
<p><%= link_to 'Descadastre-se', contact_unregister_url(@contact, @contact.unregister_token), :method => 'patch'%> caso não queira receber mais e-mails.</p>

