<h1>Seja Bem Vindo(a), <%= @contact.name %></h1>

<p>Você foi cadastrado no site do WAlgProg</p>

<p>Você pode se descadastrar clicando no link a baixo</p>

<!--<a href="<%# admins_contact_unregister_url(@contact)%> ">Descadastar</a>-->
<p><%= link_to 'Descadastrar', admins_contact_unregister_url(@contact), :method => 'patch'%></p>