<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-auto mt-3 mt-lg-0">
        Copyright © <%= Time.current.year %>
        <a href=".">Tecnologia em Sistemas para Internet - UTFPR-GP</a>. Desenvolvido pelos acadêmicos da disciplina de DW5 em 2019/1. Todos direitos reservados.
      </div>
    </div>
  </div>
</footer>
