<% provide(:head_title, t("events.new")) %>
<% provide(:page_title, t('events.new')) %>
<% provide(:title, t('events.new')) %>
<% navigation_add t('events.new'), admins_events_path %>
<div class="col-md-12">
  <%= render('admins/events/_partials/form') %>
</div>
