<% provide(:head_title, t("events.new")) %>
<% provide(:page_title, t('events.new')) %>
<% provide(:title, t('events.new')) %>
<div class="col-md-12">

  <%= render('admins/events/_partials/form') %>
</div>